
/* Variable start  */

/* variable ends */

/* Reset code start */



.title{
    font-size: 2rem;
}
img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.container{
    max-width: 90%;
    margin: 0 auto;
}
section{
    padding: 6rem 0;
}
section h2 {
    text-align: center;
    margin-bottom: 4rem;
}
/*  reset code ends*/

/* nav start here */
nav{
    max-width: 100vw;
    min-height: 5rem;
    padding: 0rem 0rem 0rem 0rem;
}
.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.breanding{
    margin-top: -0.9rem;
}
.breanding h3{
    font-size: 1.6rem;
}
.breanding h3{
    text-transform: lowercase;
    font-family: var(--PlayfaiFont);
    font-weight: bolder;
    color: #7fffd4;
}
.breanding h3:hover{
    text-shadow: var(--textShadow);
    background: transparent;
}
.breanding h3 span{
    color: var(--secondaryColor);
    text-shadow: 1px 1px  1px var(--secondaryColor);
    font-size: 2rem;
}
nav ul :last-child .nav_link {
    background-color: var(--secondaryColor);
}
nav ul :last-child .nav_link:hover {
    background-color: var(--secondaryColor);
    scale: 1.3;
}
.nav_list{
    margin-right: .5rem;
}
/* nav ends here */
/* header starts here  */
/* header{
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
    padding: 4rem 1rem 3rem 1rem;
    background: var(--blackColor);
}
.header_container{
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.header_left{
    flex: 1;
}

.text_3{
    font-size: 1.6rem;
    color: var(--secondaryColor);
    line-height: 3.7rem;
}

/* .header_left a{
 background-color: var(--secondaryColor);
box-shadow: var(--boxShadow);
background:linear-gradient(-50deg,#111122  0%, #111122 100%);
}
.header_left a:hover{
    background-color: var(--secondaryColor);
   box-shadow: var(--textShadow);
   background:linear-gradient(-50deg,#111122  0%, #111122 100%);
   }

.header_right {
    flex: 1;
}
.header_right img{
  border: var(--border);
  box-shadow: var(--textShadow);
  border-radius: 0.5rem;
}
header::before{
content: " ";
position: absolute;
background: var(--primaryColor);
min-width:100%;
height: 3.1rem;
bottom: 0;
margin-bottom: -3.1rem;
z-index: 99;
transform: skewY(-2deg);
transform-origin: left;
box-shadow: var(--textShadow);
} */
/* .typing{
    font-weight: 500;
} */
/* header ends here  */

/* about me starts
.about{
    text-align: center;
}
.about_titel{
    font-weight: bolder;
    color: #F8B90C;
    font-size: 2rem;
}
.about_container{
    display: flex;
    margin:0 auto;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-bottom: 2rem;
} */

/* .about_img{
    flex: 1;
    border: 3px solid var(--secondaryColor);
    box-shadow: var(--boxShadow);
    border-radius: 50%;
    max-width: 15rem;
    max-height: 15rem;
    overflow: hidden;
    margin-right: 3rem;
    position: relative;
    align-items: center;
    margin-bottom: 2rem;
    margin-left: 4rem;
    transition: all .5s ease-in;
    filter: saturate(1);
}
.about_img:hover{
    box-shadow: var(--textShadow);
    border: 3px solid rgba(128, 124, 250, 0.7);
    filter: saturate(0);
}
.about_img img {
    max-width: 15rem;
    max-height: 15rem;
}
.about_text{
flex: 1;
/* max-width: 60%; */
text-align: justify;
line-height: 1.5rem;
letter-spacing: 0.5px;
padding-bottom: 2.5rem;
}
.about_text a{
    background-color: var(--secondaryColor);
   box-shadow: var(--textShadow);
   background:linear-gradient(-50deg,#111122  0%, #111122 100%);
   }
.about_text a:hover{
    background-color: var(--secondaryColor);
   box-shadow: var(--boxShadow);
   background:linear-gradient(-50deg,#111122  0%, #111122 100%);
   }
.about_text p{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    text-align: justify;
}
.typring_about{
    font-size: 1.2rem;
    color: #52c2f9;
} */
/* about me ends */
/* service section  */
  /* 
 
/* skills section ends here */

/*contact section ends here */
/* Say Hello Sections */
/* .connect_me_section{
    display: flex;
    flex-direction: column;
}
.contact_title{
    text-align: center;
    line-height: 1rem;
    font-size: 2.2rem;
    color: #5662f6;
} */
/* .contact_sub_title{
font-size: 1rem;
text-align: center;
line-height: 3rem;
color: var(--secondaryColor);
} */
/* .contact_main_container{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem;
    padding: 2rem 0;
    align-items: center;
    justify-content: center;
} */
/* .contact_info img{
width: 75%;
} */
/* .contact_info h1{
    margin: .5rem;
    font-family: var(--PlayfaiFont);
    font-weight: bolder;
} */

/* .contact_info h3{
    font-size: 1rem;
    line-height: 3rem;
} */
/* .contact_info p{
    font-size: .8rem;
} */
/* .icon_info{
    display: flex; 
    flex-direction: column;
} */
/* .icon_info i{
    color: var(--secondaryColor);
    margin-top: 1rem;
} */
/* .add_info h1{
font-style: normal;
font-weight: bolder;
} */
/* .add_info p{
    font-style: normal;
} */

/* form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: .7rem;
} */
/* textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #F8B90C !important;
    border-radius: 4px;
    outline: none;
    color: rgb(236, 220, 220);
    background: var(--footerColor);
} */
/* .contact_input input{
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #F8B90C !important;
    border-radius: 4px;
    outline: none;
    color: #fff;
    background: var(--footerColor); 
} */
/* .button{
    margin-top: 20px;
    padding: 10px;
    border: none;
   color: white;
    cursor: pointer;
    box-shadow: var(--textShadow);
    text-align: center;
    border: none !important;
} */

  /* footer start here */
