
@media screen and (max-width:892px){
  .Glary{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    padding: 2rem 0;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width:767px){
  .Glary{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    padding: 2rem 0;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width:600px){
  .Glary{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
    padding: 2rem 0;
    align-items: center;
    justify-content: center;
  }
  .portfolio_title{
    font-size: 1.5rem;
    color: #5662f6;
  }
  .connect_me{
    margin-left: 1rem;
}
}

/* smart phone  */
@media screen and (max-width:480px){
  .Glary{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
    padding: 2rem 0;
    align-items: center;
    justify-content: center;
  }
}