:root{
    --textShadow: 0 0.1em 1.5em  rgba(128, 124, 250, 0.7);
    --blackColor:#13131a;
    --footerColor:#1C222A;


}
.connect_me_section{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem;
    padding: 2rem 0;
    margin-bottom: 3rem;
    min-width: 90%;
}
.contact_container{
    min-width: 100%;
    box-shadow: var(--textShadow);
    padding: 1.3rem;
    border-radius: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}
.contact_img img{
    min-width: 90%;
    border-radius: 2rem;
    opacity: 0.8;
}
form h2{
    margin-bottom: .8rem;
}
label {
    margin-top: .7rem;
}

textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #F8B90C !important;
    border-radius: 4px;
    outline: none;
    box-shadow: var(--textShadow);
    color: rgb(236, 220, 220);
    background: var(--footerColor);
}
.contact_container input{
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #F8B90C !important;
    border-radius: 4px;
    outline: none;
    box-shadow: var(--textShadow);
    color: #fff;
    background: var(--footerColor); 
}
button{
    margin-top: 20px;
    padding: 10px;
    border: none;
   color: white;
    cursor: pointer;
    box-shadow: var(--textShadow);
    border: none !important;
}