<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a portfolio website . this website is Chibgatullah Minhaz ">
    <!-- add favicon -->
    <link rel="shortcut icon" href="../images/ch_favLogo.png" type="image/x-icon" />

    <!-- typed Script cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.js"
        integrity="sha512-tQQXRDB2wEmuJGtFrmmoFYzNTq8StA1XJrfO0OQbbTxd9G0CwaTDL6/C1y805IlvBVrMwOqob1kf6r/2U5XXVg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- fontAwesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- add css fils -->
    <link rel="stylesheet" href="../Styles/style.css">
    <link rel="stylesheet" href="../Styles/responsive.css">
    <link rel="stylesheet" href="../Styles/contact.css">
    <title>Contact - Chibgatullah minhaz </title>
</head>
<body>
     <!-- start nav bar -->
     <nav class="flex-space-between container">
        <div class="breanding">
            <a href="index.html">chibgatullah<span>.</span></a>
        </div>


        <ul class="flex-space-between"">
            <li class=" nav_list">
            <a href="index.html" class="nav_link btn">Home </a>
            </li>
            <li class="nav_list">
                <a href="index.html" class="nav_link btn">About me </a>
            </li>
            <li class="nav_list">
                <a href="index.html" class="nav_link btn">service</a>
            </li>
            <li class="nav_list">
                <a href="index.html" class="nav_link btn">skills</a>
            </li>
            <li class="nav_list">
                <a href="portfolio.html" class="nav_link btn">portfolio</a>
            </li>
            <li class="nav_list">
                <a href="contact.html" class="nav_link btn">Say Hello </a>
            </li>
        </ul>

        <button class="btn" id="open_menu">
            <i class="fa-solid fa-bars"></i>
        </button>

        <button class="btn" id="close_menu">
            <i class="fa-solid fa-xmark"></i>
        </button>

    </nav>
    <!-- ends nav bar -->
<!-- contact section starts here -->
 <section class="container connect_me_section">

    <div class="contact_img">
        <img src="../images/contact.jpg" alt="contact me">
    </div>
    <div class="container contact_container">
        <form id="contactForm" onsubmit="showAlart(event)">
            <h2>Contact Us</h2>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter Your Name" >
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter Your" >
            
            <label for="message">Message:</label>
            <textarea name="message" id="message" cols="30" rows="10" placeholder="Enter your message"></textarea>
            
            <button type="submit" class="btn">say hello</button>
        </form>
    </div>



 </section>

       <!-- footers section starts  -->
       <footer>
        <div class="connect_me">
            <a href="https://github.com/chibgatullahminhaz" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://www.fiverr.com/chibgatullah_?up_rollout=true" target="_blank">
                <i class="fa-solid fa-shop"></i>       
                </a>
                <a href="">
                    <i class="fa-brands fa-square-x-twitter"></i>     
                    </a>
                    <a href="">
                        <i class="fa-brands fa-instagram"></i>   
                        </a>
            <a href="">
                <i class="fa-brands fa-facebook"></i>
            </a>
        </div>
        <div class="copy_right">
            <p>© All Rights Reserved 2024 | Chibgatullah Minhaz</p>
        </div>
    </footer>

    <script src="../JavaScript/script.js"></script>

</body>
</html>