<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a portfolio website . this website is Chibgatullah Minhaz ">
    <!-- add favicon -->
    <link rel="shortcut icon" href="../images/ch_favLogo.png" type="image/x-icon" />

    <!-- typed Script cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.js"
        integrity="sha512-tQQXRDB2wEmuJGtFrmmoFYzNTq8StA1XJrfO0OQbbTxd9G0CwaTDL6/C1y805IlvBVrMwOqob1kf6r/2U5XXVg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- fontAwesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- add css fils -->
    <link rel="stylesheet" href="../Styles/style.css">
    <link rel="stylesheet" href="../Styles/responsive.css">
    <link rel="stylesheet" href="../Styles/sidebar.css">
    <title>chibgatullah minhaz contact me</title>
</head>
<body>
     <!-- start nav bar -->
     <nav class="flex-space-between container">
        <div class="breanding">
            <a href="index.html">chibgatullah<span>.</span></a>
        </div>


        <ul class="flex-space-between"">
            <li class=" nav_list">
            <a href="index.html" class="nav_link btn">Home </a>
            </li>
            <li class="nav_list">
                <a href="index.html" class="nav_link btn">About me </a>
            </li>
            <li class="nav_list">
                <a href="index.html" class="nav_link btn">service</a>
            </li>
            <li class="nav_list">
                <a href="index.html" class="nav_link btn">skills</a>
            </li>
            <li class="nav_list">
                <a href="portfolio.html" class="nav_link btn">portfolio</a>
            </li>
            <li class="nav_list">
                <a href="contact.html" class="nav_link btn">Say Hello </a>
            </li>
        </ul>

        <button class="btn" id="open_menu">
            <i class="fa-solid fa-bars"></i>
        </button>

        <button class="btn" id="close_menu">
            <i class="fa-solid fa-xmark"></i>
        </button>

    </nav>
    <!-- ends nav bar -->
</body>
</html>