<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a portfolio website . this website is Chibgatullah Minhaz ">
    <!-- add favicon -->
    <link rel="shortcut icon" href="../images/ch_favLogo.png" type="image/x-icon" />

    <!-- typed Script cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.js"
        integrity="sha512-tQQXRDB2wEmuJGtFrmmoFYzNTq8StA1XJrfO0OQbbTxd9G0CwaTDL6/C1y805IlvBVrMwOqob1kf6r/2U5XXVg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- bootstrap cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
        integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>



    <!-- fontAwesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- add css fils -->
    <link rel="stylesheet" href="../Styles/style.css">
    <link rel="stylesheet" href="../Styles/responsive.css">

    <title>Chibgatullah Minhaz portfolio</title>
</head>

<body>
    <!-- start nav bar -->
    <nav class="container nav_container ">
        <a href="#" class="breanding">
            <h3> Chibgatullah<span>.</span></h3>
        </a>


        <ul class="flex-space-between"">
            <li class=" nav_list">
            <a href="#" class="nav_link btn">Home </a>
            </li>
            <li class="nav_list">
                <a href="#about" class="nav_link btn">About me </a>
            </li>
            <li class="nav_list">
                <a href="#service" class="nav_link btn">service</a>
            </li>
            <li class="nav_list">
                <a href="#skills" class="nav_link btn">skills</a>
            </li>
            <li class="nav_list">
                <a href="portfolio.html" class="nav_link btn">portfolio</a>
            </li>
            <li class="nav_list">
                <a href="contact.html" class="nav_link btn">Say Hello </a>
            </li>
        </ul>

        <button class="btn" id="open_menu">
            <i class="fa-solid fa-bars"></i>
        </button>

        <button class="btn" id="close_menu">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </nav>
    <!-- ends nav bar -->

    <!-- header content starts here -->
    <header>
        <div class="container  header_container">

            <div class="header_left">
                <div class="text_1">Hello, My Name Is</div>
                <div class="text_2"> <span>chibgatullah</span> <span>minhaz</span></div>
                <div class="text_3">i'm a <span class="typing"></span> </div>
                <div class="intro_text">
                    <p>From Chittagong, Bangladesh. I’m a MERN Stack Developer who is passionate about making error-free
                        websites. I love to Learn always New skills and to acquire knowledge </p>
                </div>

                <a href="https://www.fiverr.com/chibgatullah_?up_rollout=true" class="btn" target="_blank">Hire me</a>
            </div>

            <div class="header_right">
                <img src="../images/cover_profile.jpg" alt="profile">
            </div>

        </div>
    </header>
    <!-- header content ends here -->

    <!-- about me starts here -->
    <section class="about" id="about">
        <h2 class="about_titel">about me</h2>
        <div class="container about_container">
            <div class="about_img">
                <img src="../images/profile.png" alt="profile">

            </div>


            <div class="about_text">
                <div class="text">
                    i'm Chibgatullah minhaz and i'm a <span class="typring_about"></span>
                </div>
                <p>I'm Running Studnet in CST(Computer secience and technology). i'm a Professional MERN Stack
                    Developer. I am experienced in the web development field and i have more than 1.5+ years of
                    experience in web development field. My Expertise lies in creating high-quality, clean, and
                    responsive web applications from scratch😊</p>
                <a href="#" download="cv.pdf" class="btn">Download CV</a>
            </div>
        </div>
    </section>
    <!-- about me ends here -->

    <!-- service sections start  -->
    <section class="container " id="service">
        <div class="service_heading">
            <h1 class="service_title">what i do</h1>
            <h5 class="service_sub_title">my service</h5>
        </div>
        <div class="cards">

            <div class="card">
                <div class="sbox">
                    <a href="">
                        <i class="fa-solid fa-code"></i>
                    </a>
                    <h3>web Desing</h3>
                    <p>I’m a website Desiner who is passionate about making error-free fully responsive Conversion PSD
                        or figma to HTML</p>
                    <div class="see_more">
                        <a href="">say hi<i class="fa-solid fa-arrow-right"></i></a>

                    </div>
                </div>
            </div>


            <div class="card">
                <div class="sbox">
                    <a href="">
                        <i class="fa-solid fa-laptop-code"></i>
                    </a>
                    <h3>Front-End Developer</h3>
                    <p>I’m a Front End Web developer who is passionate about making error-free websites using
                        html,css,bootstrap,js,react</p>
                    <div class="see_more">
                        <a href="">say hi<i class="fa-solid fa-arrow-right"></i></a>

                    </div>
                </div>
            </div>


            <div class="card">
                <div class="sbox">
                    <a href="">
                        <i class="fa-solid fa-laptop-code"></i>
                    </a>
                    <h3>web development</h3>
                    <p>I’m a Web developer who is passionate about making error-free websites with
                        html,css,js,mongodb,node,express,reactJs.</p>
                    <div class="see_more">
                        <a href="">say hi<i class="fa-solid fa-arrow-right"></i></a>

                    </div>
                </div>
            </div>


            <div class="card">
                <div class="sbox">
                    <a href="">
                        <i class="fa-duotone fa-solid fa-laptop-code"></i> </a>
                    <h3>MERN development</h3>
                    <p>I’m a MERN Stack Web developer who is passionate about making error-free websites with
                        mongodb,node,express,reactJs .</p>
                    <div class="see_more">
                        <a href="">say hi<i class="fa-solid fa-arrow-right"></i></a>

                    </div>
                </div>
            </div>


            <div class="card">
                <div class="sbox">
                    <a href="">
                        <i class="fa-solid fa-file-code"></i>
                    </a>
                    <h3>PSD To HTML</h3>
                    <p>I’m a Web Desiner who is passionate fully Responsive PSD To HTML convarsion with HTML CSS JS.</p>
                    <div class="see_more">
                        <a href="">say hi<i class="fa-solid fa-arrow-right"></i></a>

                    </div>
                </div>
            </div>


            <div class="card">
                <div class="sbox">
                    <a href="#"><i class="fa-brands fa-figma"></i></a>
                    <h3>Figma To HTML</h3>
                    <p>I’m a Web Designer who is passionate fully Responsive conversion with HTML CSS JS. and 100%
                        client satisfaction.</p>
                    <div class="see_more">
                        <a href="">say hi<i class="fa-solid fa-arrow-right"></i></a>

                    </div>
                </div>
            </div>


        </div>
    </section>
    <!-- service sections ends here  -->


    <!-- skills section starts-->
    <section id="skills" class="container">
            <h2 class="border_buttom">my Skills</h2>
        <div class="skills_grid">
            <div class="skills_img">
                <img src="../images/skills.jpg" alt="skills image">
            </div>

            <div class="skills">
                <div class="skills_container">
                    <div class="bar">
                        <div class="ingo">
                            <span>Html & CSS</span>
                        </div>
                        <div class="progress-line html">
                            <span></span>
                        </div>
                    </div>

                    <div class="bar">
                        <div class="ingo">
                            <span>JavaScript</span>
                        </div>
                        <div class="progress-line JavaScript">
                            <span></span>
                        </div>
                    </div>

                      
                    <div class="bar">
                        <div class="ingo">
                            <span>TypeScript</span>
                        </div>
                        <div class="progress-line typescript">
                            <span></span>
                        </div>
                    </div>
                    
                       
                    <div class="bar">
                        <div class="ingo">
                            <span>Python</span>
                        </div>
                        <div class="progress-line python">
                            <span></span>
                        </div>
                    </div>

                      

                    <div class="bar">
                        <div class="ingo">
                            <span>ReactJs</span>
                        </div>
                        <div class="progress-line reactJs">
                            <span></span>
                        </div>
                    </div>

                    <div class="bar">
                        <div class="ingo">
                            <span>Node js</span>
                        </div>
                        <div class="progress-line nodejs">
                            <span></span>
                        </div>
                    </div>

                    <div class="bar">
                        <div class="ingo">
                            <span>Express</span>
                        </div>
                        <div class="progress-line express">
                            <span></span>
                        </div>
                    </div>

                
                    <div class="bar">
                        <div class="ingo">
                            <span>MongoDB</span>
                        </div>
                        <div class="progress-line mongodb">
                            <span></span>
                        </div>
                    </div>

                       
                    <div class="bar">
                        <div class="ingo">
                            <span>Figma & PSD</span>
                        </div>
                    <div class="progress-line figma_psd">
                            <span></span>
                        </div>
                    </div>

                      
                    
                    
                </div>
            </div>
        </div>
    </section>

    <!-- footers section starts  -->
    <footer>
        <div class="connect_me">
            <a href="https://github.com/chibgatullahminhaz" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://www.fiverr.com/chibgatullah_?up_rollout=true" target="_blank">
                <i class="fa-solid fa-shop"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-square-x-twitter"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-facebook"></i>
            </a>
        </div>
        <div class="copy_right">
            <p>© All Rights Reserved 2024 | Chibgatullah Minhaz</p>
        </div>
    </footer>



    <script src="../JavaScript/script.js"></script>

</body>

</html>