<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a portfolio website . this website is Chibgatullah Minhaz ">
    <!-- add favicon -->
    <link rel="shortcut icon" href="../images/ch_favLogo.png" type="image/x-icon" />

    <!-- bootstrap cdn -->


    <!-- fontAwesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- add css fils -->
    <link rel="stylesheet" href="../Styles/style.css">
    <link rel="stylesheet" href="../Styles/responsive.css">
    <link rel="stylesheet" href="../Styles/sidebar.css">

    <title>Chibgatullah Minhaz portfolio</title>
</head>

<body >
    <!-- start nav bar -->
    <nav class="flex-space-between container">
        <div class="breanding">
            <a href="index.html">chibgatullahminhaz<span>.</span></a>
        </div>


        <ul class="flex-space-between"">
            <li class=" nav_list">
            <a href="#" class="nav_link btn">Home </a>
            </li>
            <li class="nav_list">
                <a href="#" class="nav_link btn">About me </a>
            </li>
            <li class="nav_list">
                <a href="#" class="nav_link btn">service</a>
            </li>
            <li class="nav_list">
                <a href="#" class="nav_link btn">skills</a>
            </li>
            <li class="nav_list">
                <a href="#" class="nav_link btn">portfolio</a>
            </li>
            <li class="nav_list">
                <a href="#" class="nav_link btn">Say Hello </a>
            </li>
        </ul>

        <button class="btn" id="open_menu">
            <i class="fa-solid fa-bars"></i>
                </button>

                <button class="btn" id="close_menu">
                    <i class="fa-solid fa-xmark"></i>
                </button>

    </nav>
    <!-- ends nav bar -->

    <!-- header content starts here -->
     <header>
       <div class="container  header_container">

        <div class="header_left">
            <div class="text_1">Hello, My Name Is</div>
            <div class="text_2"> <span>chibgatullah</span> <span>minhaz</span></div>
            <div class="text_3">i'm a <span class="typing"></span> </div>
            <div class="intro_text">
                <p>From Chittagong, Bangladesh. I’m a MERN Stack Developer who is passionate about making error-free websites. <span> I love to Learn always New skills and to acquire knowledge </span>  </p>
            </div>
           
            <a href="https://www.fiverr.com/chibgatullah_?up_rollout=true" class="btn" target="_blank">Hire me</a>
        </div>

        <div class="header_right">
            <img src="../images/profile.jpg" alt="profile">
        </div>

       </div>
     </header>
    <!-- header content ends here -->

    <script src="../JavaScript/script.js"></script>

</body>

</html>