<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a portfolio website . this website is Chibgatullah Minhaz ">
    <!-- add favicon -->
    <link rel="shortcut icon" href="../images/ch_favLogo.png" type="image/x-icon" />

    <!-- typed Script cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.js"
        integrity="sha512-tQQXRDB2wEmuJGtFrmmoFYzNTq8StA1XJrfO0OQbbTxd9G0CwaTDL6/C1y805IlvBVrMwOqob1kf6r/2U5XXVg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- fontAwesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- add css fils -->
    <link rel="stylesheet" href="../Styles/style.css">
    <link rel="stylesheet" href="../Styles/responsive.css">

    <title>Chibgatullah Minhaz portfolio</title>
</head>

<body>
    <!-- start nav bar -->
    <nav class="container nav_container ">
        <a href="#" class="breanding">
            <h3> Chibgatullah<span>.</span></h3>
        </a>


        <ul class="flex-space-between"">
            <li class=" nav_list">
            <a href="#" class="nav_link btn">Home </a>
            </li>
            <li class="nav_list">
                <a href="#about" class="nav_link btn">About me </a>
            </li>
            <li class="nav_list">
                <a href="#service" class="nav_link btn">service</a>
            </li>
            <li class="nav_list">
                <a href="#" class="nav_link btn">skills</a>
            </li>
            <li class="nav_list">
                <a href="portfolio.html" class="nav_link btn">portfolio</a>
            </li>
            <li class="nav_list">
                <a href="contact.html" class="nav_link btn">Say Hello </a>
            </li>
        </ul>

        <button class="btn" id="open_menu">
            <i class="fa-solid fa-bars"></i>
        </button>

        <button class="btn" id="close_menu">
            <i class="fa-solid fa-xmark"></i>
        </button>

    </nav>
    <!-- ends nav bar -->

    <!-- header content starts here -->
    <header>
        <div class="container  header_container">

            <div class="header_left">
                <div class="text_1">Hello, My Name Is</div>
                <div class="text_2"> <span>chibgatullah</span> <span>minhaz</span></div>
                <div class="text_3">i'm a <span class="typing"></span> </div>
                <div class="intro_text">
                    <p>From Chittagong, Bangladesh. I’m a MERN Stack Developer who is passionate about making error-free
                        websites. I love to Learn always New skills and to acquire knowledge </p>
                </div>

                <a href="https://www.fiverr.com/chibgatullah_?up_rollout=true" class="btn" target="_blank">Hire me</a>
            </div>

            <div class="header_right">
                <img src="../images/cover_profile.jpg" alt="profile">
            </div>

        </div>
    </header>
    <!-- header content ends here -->

    <!-- about me starts here -->
    <section class="about" id="about">
        <h2 class="about_titel">about me</h2>
        <div class="container about_container">
            <div class="about_img">
                <img src="../images/profile.png" alt="profile">

            </div>


            <div class="about_text">
                <div class="text">
                    i'm Chibgatullah minhaz and i'm a <span class="typring_about"></span>
                </div>
                <p>I'm Running Studnet in CST(Computer secience and technology). i'm a Professional MERN Stack
                    Developer. I am experienced in the web development field and i have more than 1.5+ years of
                    experience in web development field. My Expertise lies in creating high-quality, clean, and
                    responsive web applications from scratch😊</p>
                <a href="#" class="btn">Download CV</a>
            </div>
        </div>
    </section>
    <!-- about me ends here -->

    <!-- footers section starts  -->
    <footer>
        <div class="connect_me">
            <a href="#">
                <i class="fa-brands fa-square-facebook">

                </i> </a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
        </div>
        <div class="copy_right">
            <p>© All Rights Reserved 2024 | Chibgatullah Minhaz</p>
        </div>
    </footer>



    <script src="../JavaScript/script.js"></script>

</body>

</html>